*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    background-color: black;

}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: lightslategray;
    border-color: lightslategray;
}

button:hover{
    background-color: lightgreen;
}